.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    height: min-content;
    background-color: white;
  }
  
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #cb7a4b;
    font-weight: bold;
  }

  .login-button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-weight:  bold !important;
  }